PyQt6>=6.4.0
PyQtGraph>=0.13.1
numpy>=1.21.0
scipy>=1.7.0
matplotlib>=3.4.0
# Для работы с камерами требуется , PyCapture2 который не доступен через pip
# Его необходимо устанавливать отдельно в соответствии с инструкциями производителя 